# Dependencies
/node_modules
/vendor

# Build outputs
/public/hot
/public/build
/public/storage

# Environment
.env
.env.backup
.env.production

# IDE
.idea
.vscode
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Laravel
/storage/*.key
/storage/logs
/storage/framework/cache
/storage/framework/sessions
/storage/framework/testing
/storage/framework/views

# NPM
npm-debug.log
yarn-error.log
